/*
============================================
; Title:  contact.component.css
; Author: Adam Luna
; Date: 29 July 2021
; Description: Contact component CSS file
;===========================================
*/

h1 {
    text-align: center;
    font-size: 2em;
    padding-top: 2em;
    color: #67AB9F;
    font-weight: normal;
}

.mat-card-title {
    text-align: center;
}

.icons {
    display: inline-flex;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #67AB9F;
    font-size: 3em;
}

.mat-card-content {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}