<!--
============================================
; Title:  contact.component.html
; Author: Adam Luna
; Date: 29 June 2021
; Description: Contact component HTML file
;===========================================
-->

<div fxLayout>
    <div fxFlex>
      <!-- Header Icon -->
      <mat-card-title>
        <mat-icon class="icons" color="primary">navigation</mat-icon>
      </mat-card-title>
      <mat-card-content>
        <p>100 Nodebucket St.</p>
        <p>San Antonio, TX 78217</p>
      </mat-card-content>
    </div>
    <div fxFlex>
      <!-- Header Icon -->
      <mat-card-title class="card-title-icon">
          <mat-icon class="icons" color="primary">phone</mat-icon>
      </mat-card-title>
      <br />
      <mat-card-content>
        <p>Direct: 123-456-7890</p>
        <p>Toll-free: 1-800-987-6543</p>
      </mat-card-content>
    </div>
  </div>
