<!--
============================================
; Title:  not-found.component.html
; Author: Adam Luna
; Date: 01 September 2021
; Description: not-found component HTML file
;===========================================
 -->
<div fxLayout="column">
  <div fxFlex>
    <!-- This break creates space between the top of the page adn the h1 text -->
    <br />
    <!-- 404 Error Message -->
    <h1>
      What's this?! The page you're trying to view either doesn't exist, or was
      eaten by this creature.
    </h1>

    <h2>Go back <a href="/">Home</a></h2>

    <!-- 404 image -->
    <img src="../../../assets/404_image.png" alt="404 Squid Image" />
  </div>
  <span
    ><a href="https://www.freepik.com/vectors/background"
      >Image by freepik - www.freepik.com</a
    ></span
  >
</div>
