<!--
============================================
; Title:  create-task-dialog.component.html
; Author: Professor Krasso
; Modified by: Adam Luna
; Date: 25 Aug 2021
; Description: Create task dialog component HTML file
;===========================================
 -->
<h2 mat-dialog-title>Add a new task</h2>

<mat-dialog-content [formGroup]="taskForm">
  <mat-form-field style="width: 200px">
    <input
      type="text"
      placeholder="Enter task description"
      matInput
      formControlName="text"
      (keydown.enter)="createTask()"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions algin="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button [disabled]="!taskForm.valid" (click)="createTask()">
    Create
  </button>
</mat-dialog-actions>
