<!--
============================================
; Title:  about.component.html
; Author: Adam Luna
; Date: 01 September 2021
; Description: About component HTML file
;===========================================
-->

<div fxLayout="row">
  <!-- Page Title -->
  <div fxFlex>
    <mat-card class="mat-elevation-z0 about-card">
      <mat-card-title>About Us</mat-card-title>

      <br />

      <!-- Nodbucket backstory -->
      <mat-card-content>
        <p>
          Nodebucket is a productivity application that was created in September
          2021 in San Antonio, Texas, with the goal of helping people manage
          their every day lives.
        </p>

        <p>
          If you're a student, you've probably struggled with keeping track of
          your weekly assignments. If you run a small business, you may forget
          to write down something important that needs to be done by the end of
          the day. If you're anything like us, you probably write down your
          grocery list and forget to bring the list with you to the store. Does
          your boss ever give you a bunch of things to do, but you simply can't
          remember what they are throughout the day?
        </p>

        <p>
          If you've experienced any of that, then Nodebucket is or you. We've
          created what we believe is the most well-rounded app for task
          management, but we also believe it is simple enough that anyone can
          use it.
        </p>

        <p>
          It's hard to stay motivated and be productive when you it feels like
          your work is never-ending. With Nodebucket, you can add tasks to your
          ToDo list. As you complete each task, it gets moved to your Done list,
          which means that your ToDo list is visually shrinking. There's nothing
          greater than seeing your work being completed.
        </p>

        <p>
          We're confident that our simple design and great support team will
          keep you coming back to Nodebucket for a very long time. Get rid of
          that pen and paper. Your new favorite app for task management is here.
          Welcome to Nodebucket.
        </p>
        <br />
        <h2>Meet the Team</h2>

        <img src="../../../assets/Adam.JPG" alt="Image of Adam Luna" />

        <h3>Adam Luna - Founder and CEO</h3>
      </mat-card-content>
    </mat-card>
  </div>
</div>
